<ion-header id="mi-encabezado">
  <ion-toolbar color="#1A1A1A">
    <ion-img src="https://reqlut2.s3.sa-east-1.amazonaws.com/reqlut-images/duoc/logo_duoc_white.png?v=50.7"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <h1>Duoc UC</h1>
    <p>Sistema de asistencia DUOC </p>
  </ion-card>
  <br>
    <ion-card class="fondo-correcto">
      <br>
         <h1 tyle="color: black;">Tu contraseña es: {{ usuario.password }}</h1>
       <br>
      
    </ion-card>
  

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Iniciar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> 
